################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LightBddSelenium
/MyApp.Tests.UI/bin/Debug/net8.0
/MyApp.Tests.UI/obj
/MyApp.Web/bin/Debug/net8.0
/MyApp.Web/obj
/.vs/ProjectEvaluation
